body {
	margin: 0 auto;
	text-align: center;
}

header {
	height: 20px;
	background: #404041;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #E6E7E8;
	padding: 20px;

}

button:focus, input:focus {
	outline: 0;
}

#title span{
	font-family: Open-sans, sans-serif;
	font-weight: 700;
	color: #ED458B;
}

#guess {
	width: 220px;
	height: 5px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000;
	display: block;
}

#min, #max {
	width: 50px;
	height: 5px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000;
	display: inline-block;
}

#min-max {
	display: block;
}
.disabled {
	background: #D0D2D3;
	color: #fff;
}

#submit {
	border-radius: 50px;
	border: none;
	background: #929497;
	width: 80px;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
}

#submit:hover {
	background: #EB008B;
	color: #fff;
} 

.interact {
	border-radius: 50px;
	border: none;
	background: #929497;
	width: 120px;
	height: 30px;
	margin-bottom: 20px;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;

}

.interact:hover {
	background: #EB008B;
	color: #fff;
}

#title-2 {
	font-family: Open-sans, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #404041;
	margin-top: 15px;
	margin-bottom: 10px;
}

#subtitle {
	font-family: Open-sans, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #404041;
	margin-bottom: 30px;
}

#number-display {
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 120px;
	color: #ED458B;
}


#reset {
	border-radius: 50px;
	border: none;
	background: #929497;
	width: 180px;
	height: 30px;
	margin-bottom: 20px;
	font-family: Open-sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
}

#reset:hover {
	background: #EB008B;
}